@font-face {
	font-family: 'tvn';
	src: url('../font/tvN\ 즐거운이야기OTF\ Medium.otf');
}
@font-face {
	font-family: 'BMJua';
	font-weight: normal;
	font-style: normal;
	src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMJua/BMJua.eot');
	src: url('https://cdn.jsdelivr.net/gh/webfontworld/BMJua/BMJua.eot?#iefix') format('embedded-opentype'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/BMJua/BMJua.woff2') format('woff2'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/BMJua/BMJua.woff') format('woff'),
		url('https://cdn.jsdelivr.net/gh/webfontworld/BMJua/BMJua.ttf') format('truetype');
	font-display: swap;
}
:root {
	--main-color: rgb(73, 76, 173);
	--background-color: rgb(250, 250, 250);
}
body {
	margin: 0px;
	font-size: 1.2rem;
	font-family: 'BMJua';
	background-color: var(--background-color);
}
div,
input,
textarea {
	box-sizing: border-box;
}
li {
	list-style: none;
}
.form-control {
	border-right: none;
}
.input-animation {
	width: 300px !important;
	transition: all 1s;
}
.input-animation:focus {
	width: 450px !important;
}
.top-bar {
	display: flex;
	align-items: center;
	padding: 20px;
	background-color: white;
}
.nav-link {
	position: relative;
}
.nav-link .badge {
	position: absolute;
	top: -13px;
	left: 13px;
}
.side-bar {
	display: flex;
	float: left;
	width: 200px;
	height: 100vh;
	background-color: var(--main-color);
	position: fixed;
	overflow: auto;
	transform: translateX(-100px);
	transition: all 0.5s;
	z-index: 5;
}
.side-bar:hover {
	transform: translateX(0px);
}
.side-bar:hover i {
	transform: translateX(0px);
}
.side-bar:hover span {
	display: inline-block;
}
.side-bar li {
	margin: 20px 20px 30px 20px;
	display: block;
}
.side-bar a {
	text-decoration: none;
	color: #eee;
	text-align: left;
}
.side-bar i {
	margin-right: 10px;
	transform: translateX(85px);
	transition: all 0.5s;
}
.side-bar li a span {
	display: none;
}
.dashboard {
	padding: 50px 20px 50px 20px;
}
.white-border {
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0px;
	border-radius: 10px;
	padding: 30px;
	justify-content: space-between;
	align-items: center;
}
.bg-red {
	background-color: red;
}
.bg-blue {
	background-color: blue;
}
.bg-green {
	background-color: green;
}
.bg-yellow {
	background-color: yellow;
}
.bg-grey {
	background-color: var(--background-color);
}
.card {
	padding: 0px;
	border-radius: 10px;
	height: 200px;
	border: none;
}
.font-grey {
	color: grey;
}
.text h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}
.chart {
	padding: 0px;
	border-radius: 10px;
	border: none;
}
@media screen and (max-width: 1268px) {
	.input-group {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.input-animation {
		width: 200px !important;
		transition: all 1s;
	}
	.input-animation:focus {
		width: 250px !important;
	}
}
